.sl-vue-tree {
  &.sl-vue-tree-root {
    overflow-y: auto;

    .sl-vue-tree-nodes-list {
      overflow: unset;
    }
  }

  .sl-vue-tree-drag-info {
    color: white;
    opacity: .4;
    white-space: nowrap;
    overflow: hidden;
  }

  .sl-vue-tree-node-item {
    .sl-vue-tree-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.sl-vue-tree-node-is-folder {
      .item-title {
        &.opened {
          margin-left: -3px;
        }
        &.closed {
          margin-left: -8px;
        }
      }
    }
  }

  .sl-vue-tree-gap {
    min-width: 25px;
  }
}
